#footer {
	background-color: #2D2D2C;
	padding: 15px 0px;
	color: #fff;

	.fa-facebook-square {
		color: #3b5998;
	}
	.fa-twitter-square {
		color: #55acee;
	}
	.fa-google-plus-square {
		color: #dc4e41;
	}
}